html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#room-canvas{
    width: 100%;
    height: 100%;
    background-color: white;
}

#hint {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    width: fit-content;
    text-align: center;
    z-index: 10;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}